<!DOCTYPE html>
<html>
<head>
    <title>Simple Blog</title>
</head>
<body>
    <h1>Welcome to Simple Blog</h1>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <a href="/newpost">New Post</a>
</body>
</html>
